            .head{
                font-weight: bold;
                font-size: 24px;
                color:#DDDDFF;
                text-align:center;
                background-color:#EA0000;}
            .title{
                display:flex;
                justify-content:center;
                align-items:center;
                font-weight:bold;
                font-size:15px;
                color:white;
                }
            .box{font-weight:bold;
                font-size:14px;color:blue}
    .frame{
        display:flex;
            }
    .left{
        background-color: #006030;
        flex-none;
        width:350px;
    }
    .right{
        background-color: #D7FFEE;
        flex:auto;
    }
 